django
djangorestframework
gunicorn
psycopg2
sentry-sdk
Pillow
twilio
stripe
django-oauth-toolkit
django-oauth2-provider
social-auth-app-django
django-rest-framework-social-oauth2
MonthDelta
icalendar
boto3
drf-extra-fields
facebook-sdk==3.1.0
google-api-core==1.22.2
google-api-python-client==1.12.1
google-auth==1.21.2
google-auth-httplib2==0.0.4
googleapis-common-protos==1.52.0
django-cors-headers