Django==2.2.7
djangorestframework==3.9.1
psycopg2-binary==2.7.5
django-extra-fields==1.0.0
Pillow==5.4.1
twilio==6.26.0
stripe==2.27.0
sentry-sdk==0.10.2
pytz==2019.2
MonthDelta==0.9.1
icalendar==4.0.6
boto3==1.26.69

# deployment
gunicorn==19.9.0
