Hey {{ first_name }}!!

Thanks for joining {{ company_name }}!

Here are some quick tips on using the site:

• click on “instruct” to see your Dashboard
* +class to add a class
*Pricing options include free trials, premium subscriptions, group workshops or flexible dates, aid in advance or by class.
*Private sessions lets you show availability and receive requests for appointments
* Under each class, you’ll see icons  edit, pause, message or invite people to the class, as well as a list of those enrolled
*The CRM allows you to contact your community.

When editing a class, make sure you click to the end and save. You’ll be prompted to post to your social media network.

Need more help? Call {{ admin_phone }} and I’ll be happy to walk your through.

Warmest regards,

{{ admin_name }}
{{ company_name }}
{{ admin_email }}