<html><body>
<p>Hey {{ first_name }}!!</p>

<p>Thanks for joining {{ company_name }}!</p>

<p>Here are some quick tips on using the site:</p>

<ul>
    <li><b>click on “instruct”</b> to see your Dashboard</li>
    <li><b>+class</b> to add a class</li>
    <li><b>Pricing options</b> include free trials, premium subscriptions, group workshops or flexible dates, aid in advance or by class.</li>
    <li><b>Private sessions</b> lets you show availability and receive requests for appointments</li>
    <li><b>Under each class, you’ll see icons</b>  edit, pause, message or invite people to the class, as well as a list of those enrolled</li>
    <li><b>The CRM</b> allows you to contact your community.</li>
</ul>

<p>When editing a class, make sure you click to the end and save. You’ll be prompted to post to your social media network.</p>

<p>Need more help? Call {{ admin_phone }} and I’ll be happy to walk your through.</p>

<p>Warmest regards,</p>

<p>{{ admin_name }}</p>
<p>{{ company_name }}</p>
<p>{{ admin_email }}</p>

</body>
</html>
